spring:
  application:
    name: ceveme
  mail:
    host: ${MAIL_HOST}
    port: 465
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          ssl:
            enable: true

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      max-lifetime: 600000

  jpa:
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    open-in-view: false

  servlet:
    multipart:
      max-file-size: 15MB
      max-request-size: 15MB

server:
  port: 8080

logging:
  level:
    root: INFO
    org.springframework: WARN

jwt:
  access-expiration: 10800000
  refresh-expiration: 2592000000

token:
  secret-key: ${TOKEN_SECRETKEY}

gemini:
  api-key: ${GEMINI_API_KEY}
  model: gemini-3-flash-preview

stripe:
  api-key: ${STRIPE_APIKEY}
  api-version: 2024-09-30.acacia

cloudinary:
  url: ${CLOUDINARY_URL}

linkedIn:
  li-at: ${LI_AT}
  li-rm: ${LI_RM}
